In [3]:
name="Ankit kumar"
age = 20

name="Ankit"
age=21

print(name)
print(age)

Ankit
21

In [17]:
fname = "Tony"
lname = "Stark"
age = 51
is_Genius = True

print(fname+" "+lname)
print(fname , "Age is" , age , "years old")
print(fname , "is genius",is_Genius)

Tony Stark
Tony Age is 51 years old
Tony is genius True

# Taking input

In [ ]:
name = input("What is your name ?")
print("Hello", name)

# Type conversion

In [26]:
old_Age = input("Enter your old age : ")
new_Age = int(old_Age) + 2
print(new_Age)

Enter your old age : 52
54

In [33]:
num1 = input("Enter the first number :")
num2 = input("Enter the second nmber :")
sum = int(num1)+int(num2)
# sum = num1+num2
print("The sum is",sum)

Enter the first number :50
Enter the second nmber :5
The sum is 55

# Strings

In [36]:
name = "Ankit kumar"
print(name)
print(name.upper())
print(name.lower())

Ankit kumar
ANKIT KUMAR
ankit kumar

In [40]:
name = "Ankit Kumar"
print(name.find('k'))
print(name.find('K'))

2
6

In [42]:
name = "Tony Stark"
print(name.replace("Tony Stark","Iron Man"))
print(name)

Iron Man
Tony Stark

In [45]:
name = "Ankit"
print("A" in name)
print('a' in name)

True
True

# Operators

In [51]:
print("Addition :",5+2)
print("Substraction :",5-2)
print("Multiplication :",5*2)
print("Division :",5/2)
print("Floor divison :",5//2)
print("Remainder :",5%2)
print("Power :",5**2)

Addition : 7
Substraction : 3
Multiplication : 10
Division : 2.5
Floor divison : 2
Remainder : 1
Power : 25

In [52]:
print(2+3*5) #Operator precedence

17

# Comparison operator

In [57]:
print(3>2)
print(3<=2)
print(3>=3)
print(3==2)
print(3!=2)

True
False
True
False
True

# Logical operator

In [62]:
print(2>3 or 2>1)
print(2>3 and 2>1)
print(3>2 and 2>1)
print(not 2>3)

True
False
True
True

# IF ELSE

In [72]:
age = input("Enter your age :")
if int(age)>19:
    print("You are adult")
elif int(age)<18 and int(age)>15:
    print("You need to wait")
else:
    print("Go and play")

Enter your age :25
You are adult

# Range

In [73]:
range(5)

range(0, 5)

# Loop

In [76]:
i=1
while i<=5:
    print(i)
    i += 1

1
2
3
4
5

In [78]:
i=1
while i<=5:
    print(i * "*")
    i += 1

*
**
***
****
*****

In [79]:
i=5
while i>=0:
    print(i * "*")
    i -= 1

*****
****
***
**
*

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4