# List

In [7]:
marks = [95,98,89]
print(marks)
print(marks[0])
print(marks[1])
print(marks[2])
print(marks[-1]) #in pyton index can also be -ve means start from ending
print(marks[0:2])

[95, 98, 89]
95
98
89
89
[95, 98]

In [8]:
marks = [95,98,89]
for score in marks:
    print(score)

95
98
89

In [9]:
marks = [95,98,89]

marks.append(99)
print(marks)

[95, 98, 89, 99]

In [13]:
marks = [95,98,89]
marks.insert(0,99)
marks.insert(4,99)
print(marks)
print(99 in marks)
print(len(marks))

[99, 95, 98, 89, 99]
True
5

In [14]:
marks = [95,98,89]
i=0
while i<len(marks):
    print(marks[i])
    i += 1

95
98
89

In [17]:
marks = [95,98,89]
marks.insert(0,99)
marks.insert(4,99)
print(marks)
marks.clear()
print(marks)

[99, 95, 98, 89, 99]
[]

# Break and continue

In [25]:
students = ["Ram","Shyam","Kishan","Radha","Radhika"]
for student in students:
    if student == "Radha":
        break;
    print(student)

Ram
Shyam
Kishan

In [26]:
students = ["Ram","Shyam","Kishan","Radha","Radhika"]
for student in students:
    if student == "Radha":
        continue;
    print(student)

Ram
Shyam
Kishan
Radhika

# Tuple

In [31]:
marks = (99,98,97,97,97,7)
print(marks.count(97))

3

In [33]:
marks = (99,98,97)
print(marks.index(97))

2

# Sets

In [35]:
marks = {98,95,97,97,97}
print(marks)

{97, 98, 95}

In [37]:
marks = {98,95,97,97,97}
for i in marks:
    print(i)

97
98
95

# Dictionary

In [39]:
marks = {"Engish":95 , "Chemistry": 98, "Physics":99}
print(marks["Chemistry"])

98

In [40]:
marks = {"Engish":95 , "Chemistry": 98, "Physics":99}
marks["History"]=92
print(marks)

{'Engish': 95, 'Chemistry': 98, 'Physics': 99, 'History': 92}

In [41]:
marks = {"Engish":95 , "Chemistry": 98, "Physics":99}
marks["Physics"]=89
print(marks)

{'Engish': 95, 'Chemistry': 98, 'Physics': 89}

# Function
**1. Inbuit function : (int , float , str etc)**
**2. Module function : (import statement such as math , random etc)**
**3. User define function**

In [42]:
from math import sqrt
print(sqrt(16))

4.0

In [47]:
def sum(num1,num2=5):
    print(num1+num2)

sum(1,3)
sum(3)

4
8