**In this notebook we are solving the normalization problem of DBMS using python**

# Example 1

In [3]:
import pandas as pd

# Creating a dummy dataset
data = {
    'Student ID': [1, 2, 3],
    'Courses': ['Math,Physics','Chemistry,Biology','English,History'],
    'Grades': ['A,B','C,A','B,C'],
    
}

df = pd.DataFrame(data)

In [4]:
# Display the original dataset
print("Original Dataset:\n")
#print(df)
df

Original Dataset:

   Student ID            Courses Grades
0           1       Math,Physics    A,B
1           2  Chemistry,Biology    C,A
2           3    English,History    B,C

In [5]:
# Splitting Courses and Grades into separate rows
df_courses = df['Courses'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
df_grades = df['Grades'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)

In [6]:
# Creating new DataFrames with expanded data
df_expanded = pd.concat([df.drop(['Courses', 'Grades'], axis=1), df_courses, df_grades], axis=1)
df_expanded.columns = ['Student ID', 'Course', 'Grade']

In [7]:
# Displaying the dataset in 1NF
print("Dataset in 1NF:")
#print(df_expanded)
df_expanded

Dataset in 1NF:

   Student ID     Course Grade
0           1       Math     A
0           1    Physics     B
1           2  Chemistry     C
1           2    Biology     A
2           3    English     B
2           3    History     C

# Example2

In [9]:
import pandas as pd

data = {
    'TransactionID':[1,2,3],
    'CustomerName':['John Doe','Jane Smith','Bob Johnson'],
    'Product1':['Apple','Banana','Orange'],
    'Quantity1':[5,8,3],
    'Product2':['Grapes','Apple','Banana'],
    'Quantity2':[2,6,4]
}

df = pd.DataFrame(data)
print("Denormalized Table:")
print(df)

Denormalized Table:
   TransactionID CustomerName Product1  Quantity1 Product2  Quantity2
0              1     John Doe    Apple          5   Grapes          2
1              2   Jane Smith   Banana          8    Apple          6
2              3  Bob Johnson   Orange          3   Banana          4

In [10]:
# Normalize dataset to achieve 1NF
product_df = df.filter(like='Product')
quantity_df=df.filter(like="Quantity")

normalized_df = pd.concat([df[['TransactionID','CustomerName']],product_df,quantity_df],axis=1)
normalized_df = normalized_df.melt(id_vars=['TransactionID','CustomerName'],var_name='ProductNumber',value_name='Product')

In [11]:
# Drop row with na value
normalized_df = normalized_df.dropna(subset=['Product'])

In [12]:
print("\n Normalized talble is ")
print(normalized_df)

 Normalized talble is
    TransactionID CustomerName ProductNumber Product
0               1     John Doe      Product1   Apple
1               2   Jane Smith      Product1  Banana
2               3  Bob Johnson      Product1  Orange
3               1     John Doe      Product2  Grapes
4               2   Jane Smith      Product2   Apple
5               3  Bob Johnson      Product2  Banana
6               1     John Doe     Quantity1       5
7               2   Jane Smith     Quantity1       8
8               3  Bob Johnson     Quantity1       3
9               1     John Doe     Quantity2       2
10              2   Jane Smith     Quantity2       6
11              3  Bob Johnson     Quantity2       4

# Example 3

In [13]:
import pandas as pd

data = {
    'EmployeeID':[1,2,3],
    'EmployeeName':['John Doe','Jane Smith','Bob Johnson'],
    'Role':['Developer','Manager','Designer'],
    'Skill1':['Python','Leadership','UI/UX'],
    'Skill2':['Java','Project Management','Photoshop'],
    'Skill3':['SQL','Communication','HTML/CSS'],
}

df = pd.DataFrame(data)
print("Denormalized Table:")
print(df)

Denormalized Table:
   EmployeeID EmployeeName       Role      Skill1              Skill2  \
0           1     John Doe  Developer      Python                Java
1           2   Jane Smith    Manager  Leadership  Project Management
2           3  Bob Johnson   Designer       UI/UX           Photoshop

          Skill3
0            SQL
1  Communication
2       HTML/CSS

In [14]:
# Normalize dataset to achieve 1NF
skills_df = df.filter(like='Skill')

normalized_df = pd.concat([df[['EmployeeID','EmployeeName']],skills_df],axis=1)
normalized_df = normalized_df.melt(id_vars=['EmployeeID','EmployeeName'],var_name='SkillNumber',value_name='Skill')

In [15]:
# Drop row with na value
normalized_df = normalized_df.dropna(subset=['Skill'])

In [16]:
print("\n Normalized talble is ")
print(normalized_df)

 Normalized talble is
   EmployeeID EmployeeName SkillNumber               Skill
0           1     John Doe      Skill1              Python
1           2   Jane Smith      Skill1          Leadership
2           3  Bob Johnson      Skill1               UI/UX
3           1     John Doe      Skill2                Java
4           2   Jane Smith      Skill2  Project Management
5           3  Bob Johnson      Skill2           Photoshop
6           1     John Doe      Skill3                 SQL
7           2   Jane Smith      Skill3       Communication
8           3  Bob Johnson      Skill3            HTML/CSS

# Exampl 4

In [17]:
import pandas as pd

data = {
    'TransactionID':[1,2,3],
    'Date':['2022-01-01','2022-01-02','2022-01-03'],
    'Account1':['A123','B456','C789'],
    'Currency1':['USD','EUR','GBP'],
    'Amount1':['1000','800','1200'],
    'Account2':['B456','C789','A123'],
    'Currency2':['EUR','GBP','USD'],
    'Amount2':['200','300','150'],
    'Account3':['C789','A123','B456'],
    'Currency3':['GBP','USD','EUR'],
    'Amount3':['400','250','350'],

}

df = pd.DataFrame(data)
print("Denormalized Table:")
print(df)

Denormalized Table:
   TransactionID        Date Account1 Currency1 Amount1 Account2 Currency2  \
0              1  2022-01-01     A123       USD    1000     B456       EUR
1              2  2022-01-02     B456       EUR     800     C789       GBP
2              3  2022-01-03     C789       GBP    1200     A123       USD

  Amount2 Account3 Currency3 Amount3
0     200     C789       GBP     400
1     300     A123       USD     250
2     150     B456       EUR     350

In [18]:
# Splitting Courses and Grades into separate rows
df_courses = df['Courses'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
df_grades = df['Grades'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)

KeyError: 'Courses'

In [19]:
# Creating new DataFrames with expanded data
df_expanded = pd.concat([df.drop(['Courses', 'Grades'], axis=1), df_courses, df_grades], axis=1)
df_expanded.columns = ['Student ID', 'Course', 'Grade']

KeyError: "['Courses', 'Grades'] not found in axis"

In [ ]:
# Displaying the dataset in 1NF
print("Dataset in 1NF:")
#print(df_expanded)
df_expanded